<div class="form-floating mb-3">
    <input type="text" class="form-control" id="name" placeholder="Name category" name="name"
     value="<%= category.name %>">
    <label for="floatingInput">Name Category</label>
</div>
<div class="form-floating mt-3">
    <input type="submit" class="form-control  btn btn-primary" id="sub" placeholder="Save">
    
</div>